trial/sim/run_compile_brick.bat
trial/sim/run_sim_brick.bat
trial/sim/transcript
trial/sim/vsim.wlf
trial/sim/wave_brick.do
trial/sim/wlfth7n0ei
trial/sim/wlftmh1fgc
trial/sim/work/_info
trial/sim/work/_lib.qdb
trial/sim/work/_lib1_0.qdb
trial/sim/work/_lib1_0.qpg
trial/sim/work/_lib1_0.qtl
trial/sim/work/_vmake
